.header {
  background: url("../image/headerImage/BG.png") no-repeat;
  background-size: cover;
  padding: 40px 80px 180px; }

.header-box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #fff; }

.logo {
  display: flex;
  color: #fff;
  text-transform: uppercase; }
  .logo .logo-text {
    margin-left: 13px; }
    .logo .logo-text__paragraph_bold {
      font-weight: 600; }

.navigation__link {
  color: #fff;
  margin-right: 50px;
  font-weight: 600; }
  .navigation__link:hover {
    color: #061e37;
    transition: linear .6s; }

.navigation .navigation__link_active {
  color: #061e37; }

.navigation .navigation__link:last-child {
  margin-right: 0; }

.login-link {
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 18px;
  cursor: pointer;
  color: #fff; }
  .login-link:hover {
    color: #061e37;
    border-color: #061e37;
    transition: linear .6s; }

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  color: #fff; }
  .header__content .content-text {
    max-width: 500px; }
    .header__content .content-text__heading {
      font-weight: 900;
      font-size: 55px;
      text-transform: uppercase; }
    .header__content .content-text__paragraph {
      font-size: 18px;
      line-height: 35px; }
    .header__content .content-text__link {
      margin-top: 38px;
      display: flex; }
    .header__content .content-text .content-link {
      width: 160px;
      height: 55px;
      background: #fff;
      font-size: 15px;
      color: #061e37;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.46); }
      .header__content .content-text .content-link:hover {
        transform: scale(1.1); }
    .header__content .content-text .content-link:first-child {
      margin-left: 0;
      background: #061e37;
      color: #fff; }

.content-video {
  max-width: 600px;
  margin-right: -15px; }
  .content-video img {
    max-width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

button {
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  color: blue;
  text-decoration: none;
  /* no underline */ }

@media screen and (max-width: 1260px) {
  .header__login-link {
    margin-top: 3px; }
  .content-text {
    margin-right: 30px; } }

@media screen and (max-width: 1024px) {
  .header {
    padding: 40px 80px 100px; }
    .header__login {
      display: none; }
  .navigation {
    display: none; }
  .header__content {
    margin-top: 80px; }
  .header__content .content-text__heading {
    font-size: 45px; }
  .header__content .content-text__paragraph {
    line-height: 30px;
    font-size: 15px; }
  .header__content .content-text__link {
    margin-top: 20px; } }

@media screen and (max-width: 960px) {
  .header__content .content-text__heading {
    font-size: 35px; }
  .header__content .content-text .content-link {
    width: 120px;
    height: 47px;
    font-size: 12px; }
  .header__content {
    margin-top: 80px; } }

@media screen and (max-width: 860px) {
  .header__content {
    flex-direction: column-reverse;
    margin-top: 60px; }
  .header__content .content-text {
    margin: 0 auto;
    width: 94%; }
  .header__content .content-text__heading {
    font-size: 25px; }
  .header__content .content-text__paragraph {
    font-size: 13px; }
  .content-video {
    margin: 0 auto; }
  .content-video img {
    width: 100%;
    display: block; } }

@media screen and (max-width: 640px) {
  .header {
    padding: 35px 40px 60px; }
  .header__content {
    margin: 40px auto 0 auto; }
  .header__content .content-text {
    padding-top: 30px; }
  .header__content .content-text .content-link {
    width: 100px;
    height: 40px;
    font-size: 11px; } }

@media screen and (max-width: 540px) {
  .header {
    padding: 25px 25px 60px; }
  .header__content .content-text {
    padding-top: 20px; }
  .header__content {
    margin-top: 30px; }
  .header__content .content-text__heading {
    font-size: 18px; }
  .header-box {
    font-size: 13px; }
  .header__content .content-text__paragraph {
    font-size: 11px;
    line-height: 20px;
    margin-top: 10px; } }

.page {
  text-align: center;
  background: #ffffff;
  padding: 0 80px; }
  .page .page-content {
    max-width: 675px;
    margin: 100px auto 0 auto; }
    .page .page-content .page-content__heading {
      font-size: 45px;
      font-weight: 700; }
    .page .page-content .page-content__title {
      font-size: 25px;
      font-weight: 700;
      color: #b0bec5;
      margin-top: 16px; }
    .page .page-content .page-content__paragraph {
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
      color: #b0bec5;
      margin-top: 25px; }
  .page .title-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 104px;
    margin-bottom: 80px; }
    .page .title-block .title-box {
      max-width: 25%;
      text-align: center; }
      .page .title-block .title-box__image_size {
        width: 60px;
        height: 71px; }
      .page .title-block .title-box__heading {
        margin-top: 46px;
        font-size: 20px;
        font-weight: 700; }
      .page .title-block .title-box__paragraph {
        font-size: 15px;
        color: #8399a4;
        line-height: 20px;
        margin-top: 20px; }
  .page .page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    width: 150px;
    height: 55px;
    text-transform: uppercase;
    background: #1de9b6;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.46);
    outline: none;
    cursor: pointer; }
    .page .page__button:hover {
      transform: scale(1.1); }

.counts-block {
  display: flex;
  margin-top: 100px;
  width: 100%; }
  .counts-block .counts-box_color1 {
    background: #80d8ff; }
  .counts-block .counts-box_color2 {
    background: #82b1ff; }
  .counts-block .counts-box_color3 {
    background: #b388ff; }
  .counts-block .counts-box_color4 {
    background: #ea80fc; }
  .counts-block .counts-box {
    width: 25%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .counts-block .counts-box .content-box {
      display: flex;
      justify-content: center;
      align-content: center; }
      .counts-block .counts-box .content-box__image {
        background: #ffffff;
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 50%; }
        .counts-block .counts-box .content-box__image .content-image {
          width: 30px;
          height: 30px;
          position: absolute;
          top: calc(50% - 15px);
          left: calc(50% - 15px); }
      .counts-block .counts-box .content-box__text {
        margin-left: 25px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 900; }

.services__title {
  max-width: 620px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px; }
  .services__title .services__heading {
    font-size: 45px;
    font-weight: 700; }
  .services__title .services__paragraph {
    margin-top: 30px;
    font-size: 15px;
    color: #b0bec5;
    line-height: 25px; }

.services .accordion {
  max-width: 800px;
  width: 100%;
  margin: 50px auto 100px auto; }
  .services .accordion .accordion-box {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 0 25px;
    border-radius: 5px;
    margin-bottom: 25px; }
    .services .accordion .accordion-box .accordion-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      cursor: pointer; }
      .services .accordion .accordion-box .accordion-title__logo {
        display: flex; }
        .services .accordion .accordion-box .accordion-title__logo .logo-text {
          margin-left: 10px;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase; }
    .services .accordion .accordion-box .accordion-content_active {
      display: flex; }
    .services .accordion .accordion-box .accordion-content {
      display: none;
      padding-bottom: 25px; }
      .services .accordion .accordion-box .accordion-content .accordion-content__image {
        max-width: 250px; }
        .services .accordion .accordion-box .accordion-content .accordion-content__image .content-image {
          width: 100%; }
      .services .accordion .accordion-box .accordion-content__text {
        max-width: 470px; }
        .services .accordion .accordion-box .accordion-content__text .content-paragraph {
          margin-left: 30px;
          font-weight: 500;
          font-size: 15px;
          line-height: 25px; }
    .services .accordion .accordion-box .accordion-content_active {
      display: flex; }

.comments {
  min-height: 564px;
  background: url("../image/mainImage/comments-block/commentsBackground.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px; }
  .comments__text {
    max-width: 550px;
    width: 100%;
    color: #fff; }
  .comments .title-text {
    font-size: 45px;
    font-weight: 700; }
  .comments .title-paragraph {
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px; }
  .comments__link {
    width: 150px;
    min-height: 55px;
    background: #061e37;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 80px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.46); }
  .comments__link:hover {
    transform: scale(1.1); }
  .comments .comments__slider {
    max-width: 800px; }
    .comments .comments__slider .slider-link_top {
      display: flex;
      justify-content: center;
      margin-bottom: 33px; }
    .comments .comments__slider .slider-link_bottom {
      display: flex;
      justify-content: center;
      margin-top: 33px; }
  .comments .comments-block {
    display: flex;
    align-items: center;
    margin-bottom: 50px; }
    .comments .comments-block__text {
      max-width: 650px;
      background: #fff;
      border-radius: 5px;
      margin-left: 50px;
      padding: 30px;
      box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2); }
    .comments .comments-block_margin {
      margin-bottom: 0; }
    .comments .comments-block .comments-name {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px; }
    .comments .comments-block .comments-text {
      font-size: 15px;
      color: #78909c;
      font-style: italic;
      line-height: 25px; }

.our-team {
  padding-top: 100px;
  max-width: 1600px; }
  .our-team__text {
    max-width: 590px;
    margin: 0 auto 65px auto;
    text-align: center; }
    .our-team__text .our-team__heading {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 30px; }
    .our-team__text .our-team__paragraph {
      font-size: 15px;
      line-height: 25px;
      color: #b0bec5; }
  .our-team__slider {
    max-width: 680px;
    width: 100%;
    margin: 0 auto 32px auto; }
    .our-team__slider .slider-block .slider-avatar {
      display: flex;
      max-width: 480px;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 40px auto; }
      .our-team__slider .slider-block .slider-avatar .slider-avatar__image {
        border-radius: 50%;
        max-width: 100px;
        width: 100%;
        opacity: .4;
        cursor: pointer; }
        .our-team__slider .slider-block .slider-avatar .slider-avatar__image .avatar {
          width: 100%;
          position: relative; }
        .our-team__slider .slider-block .slider-avatar .slider-avatar__image .box_active {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          border-radius: 50%;
          box-shadow: inset 0 0 10px 10px black; }
      .our-team__slider .slider-block .slider-avatar .slider-avatar__image_active {
        position: relative;
        max-width: 160px;
        box-sizing: content-box;
        opacity: 1;
        border: solid 20px rgba(255, 255, 255, 0.11);
        box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.15); }
    .our-team__slider .slider-text {
      text-align: center; }
      .our-team__slider .slider-text__name {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px; }
      .our-team__slider .slider-text__info {
        font-size: 15px;
        line-height: 25px;
        color: #90a4ae; }

.social-link {
  max-width: 215px;
  margin: 0 auto 90px auto;
  display: flex;
  justify-content: space-between; }
  .social-link .link-social {
    color: #78909c;
    font-size: 20px; }

.contact-us {
  background: #fafafa; }
  .contact-us .contact-us__text {
    max-width: 620px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto 50px auto; }
    .contact-us .contact-us__text .contact-us__heading {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 30px; }
    .contact-us .contact-us__text .contact-us__paragraph {
      font-size: 15px;
      line-height: 25px; }
  .contact-us .contact-us__form {
    max-width: 600px;
    margin: 0 auto 0 auto; }
    .contact-us .contact-us__form .contact-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .contact-us .contact-us__form .contact-form__text input {
        width: 280px;
        height: 50px;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-bottom: 20px;
        color: black;
        padding: 19px;
        outline: none; }
      .contact-us .contact-us__form .contact-form__text input[type="text"]::placeholder {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif; }
  .contact-us textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 19px;
    outline: none; }
  .contact-us textarea::placeholder {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif; }
  .contact-us .contact-form__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 90px; }
  .contact-us .checkbox {
    display: flex;
    align-items: center; }
  .contact-us input[type="checkbox"] {
    display: none; }
    .contact-us input[type="checkbox"]:checked ~ .custom-checkbox:after {
      background: #1de9b6; }
  .contact-us .custom-checkbox {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 3px; }
    .contact-us .custom-checkbox:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      left: 2px;
      bottom: 2px;
      transition: all linear .3s;
      opacity: .5; }
  .contact-us .checkbox-text {
    margin-left: 10px;
    font-size: 15px;
    color: #000000;
    font-weight: 600; }
  .contact-us .textarea-button {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 4px;
    background: #1de9b6;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.46);
    outline: none; }
    .contact-us .textarea-button:hover {
      transform: scale(1.1); }

@media screen and (max-width: 1024px) {
  .page .page-content {
    margin: 60px auto 0 auto; }
  .page .title-block {
    margin-top: 70px;
    margin-bottom: 60px; } }

@media screen and (max-width: 960px) {
  .page .page-content .page-content__heading {
    font-size: 35px; }
  .page .page-content .page-content__title {
    font-size: 20px; }
  .page .title-block {
    margin-top: 40px; } }

@media screen and (max-width: 860px) {
  .page .page-content .page-content__heading {
    font-size: 25px; }
  .page .page-content .page-content__title {
    font-size: 16px; }
  .page .page-content .page-content__paragraph {
    font-size: 13px;
    margin-top: 18px;
    line-height: 20px; }
  .page .title-block {
    margin-bottom: 40px; }
  .page .title-block .title-box__heading {
    margin-top: 30px;
    font-size: 16px; }
  .page .title-block .title-box__paragraph {
    font-size: 12px; }
  .page .page__button {
    width: 120px;
    height: 47px;
    font-size: 12px; } }

@media screen and (max-width: 640px) {
  .page .title-block {
    flex-direction: column;
    align-items: center; }
  .page .title-block .title-box {
    max-width: 60%;
    margin-bottom: 25px; }
  .page .title-block .title-box:last-child {
    margin-bottom: 0; } }

@media screen and (max-width: 540px) {
  .page {
    padding: 0 25px; }
  .page .page-content {
    margin-top: 30px; }
  .page .page-content .page-content__heading {
    font-size: 18px; }
  .page .page-content .page-content__title {
    font-size: 13px; }
  .page .page-content .page-content__paragraph {
    font-size: 11px;
    margin-top: 12px; }
  .page .title-block {
    margin-top: 30px;
    margin-bottom: 30px; }
  .page .title-block .title-box {
    margin-bottom: 15px;
    /*max-width: 100%;*/ }
  .page .title-block .title-box__image {
    width: 50px; }
  .page .title-block .title-box__image_size {
    width: 50px;
    height: initial; }
  .page .title-block .title-box__heading {
    font-size: 13px;
    margin-top: 20px; }
  .page .title-block .title-box__paragraph {
    font-size: 11px;
    margin-top: 10px; }
  .page .page__button {
    width: 100px;
    height: 40px; } }

@media screen and (max-width: 960px) {
  .counts-block {
    margin-top: 70px;
    flex-wrap: wrap; }
  .counts-block .counts-box {
    width: 50%; }
  .counts-block .counts-box .content-box__text {
    font-size: 16px; } }

@media screen and (max-width: 640px) {
  .counts-block .counts-box {
    min-height: 120px; }
  .counts-block .counts-box .content-box__image {
    width: 45px;
    height: 45px; }
  .counts-block .counts-box .content-box__image .content-image {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px); } }

@media screen and (max-width: 480px) {
  .counts-block .counts-box .content-box__text {
    font-size: 13px;
    margin-left: 15px; } }

@media screen and (max-width: 420px) {
  .counts-block {
    flex-wrap: initial;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; }
  .counts-block .counts-box {
    width: 100%; } }

@media screen and (max-width: 960px) {
  .services {
    padding: 0 20px; }
  .services__title {
    padding-top: 70px; }
  .services__title .services__heading {
    font-size: 35px; }
  .services__title .services__paragraph {
    font-size: 15px;
    margin-top: 25px;
    padding: 0 20px;
    line-height: 20px; }
  .services .accordion .accordion-box .accordion-content__text .content-paragraph {
    font-size: 13px; } }

@media screen and (max-width: 640px) {
  .services__title {
    padding-top: 30px; }
  .services__title .services__heading {
    font-size: 25px; }
  .services__title .services__paragraph {
    font-size: 13px;
    margin-top: 15px; }
  .services .accordion {
    margin: 30px auto 50px auto; }
  .services .accordion .accordion-box .accordion-content__text .content-paragraph {
    font-size: 12px; }
  .services .accordion .accordion-box .accordion-title__logo .logo-text {
    font-size: 13px; } }

@media screen and (max-width: 480px) {
  .services__title .services__heading {
    font-size: 18px; }
  .services .accordion .accordion-box .accordion-content_active {
    flex-direction: column; }
  .services .accordion .accordion-box .accordion-content__text .content-paragraph {
    margin-left: 0;
    margin-top: 20px;
    font-size: 11px; }
  .services .accordion .accordion-box .accordion-content .accordion-content__image {
    margin: 0 auto; } }

@media screen and (max-width: 1400px) {
  .comments__text {
    width: initial; }
  .comments .comments__slider {
    margin-left: 30px; }
  .comments .comments__slider .slider-link_top {
    margin-top: 20px; }
  .comments .comments__slider .slider-link_bottom {
    margin-bottom: 20px; } }

@media screen and (max-width: 1280px) {
  .comments .comments-block {
    flex-direction: column; }
  .comments .comments-block__text {
    margin-left: 0; }
  .comments .comments__slider {
    margin-left: 0; } }

@media screen and (max-width: 1024px) {
  .comments {
    flex-direction: column; }
  .comments__text {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 60px; }
  .comments__link {
    margin: 80px auto 0 auto; } }

@media screen and (max-width: 960px) {
  .comments {
    padding: 0 20px; }
  .comments__text {
    margin-bottom: 10px; }
  .comments .title-text {
    font-size: 30px; }
  .comments .title-paragraph {
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px; }
  .comments__link {
    margin: 25px auto 0 auto;
    width: 120px;
    font-size: 13px; }
  .comments .comments__slider .slider-link_top {
    margin-bottom: 20px; }
  .comments .comments-block {
    margin-bottom: 20px; }
  .comments .comments-block .comments-name {
    font-size: 15px; }
  .comments .comments-block .comments-text {
    font-size: 13px;
    line-height: 20px; } }

@media screen and (max-width: 768px) {
  .comments .title-text {
    font-size: 25px; }
  .comments__text {
    margin-top: 30px; } }

@media screen and (max-width: 540px) {
  .comments .title-text {
    font-size: 18px;
    width: 60%;
    margin: 0 auto; }
  .comments .comments__slider .slider-link_top {
    margin-bottom: 10px;
    margin-top: 10px; }
  .comments .comments__slider .slider-link_bottom {
    margin-top: 20px; }
  .comments .comments-block__text {
    padding: 20px; }
  .comments__link {
    width: 100px;
    font-size: 11px;
    margin: 15px auto 0 auto; }
  .comments .comments-block .comments-name {
    font-size: 13px;
    margin-bottom: 10px; }
  .comments .comments-block .comments-text {
    font-size: 11px; } }

@media screen and (max-width: 960px) {
  .contact-us {
    padding: 0 20px; }
    .contact-us .contact-us__text {
      padding-top: 30px;
      margin-bottom: 30px; }
      .contact-us .contact-us__text .contact-us__heading {
        font-size: 35px;
        margin-bottom: 20px; }
      .contact-us .contact-us__text .contact-us__paragraph {
        font-size: 13px;
        line-height: 20px; }
    .contact-us .contact-form__send {
      padding-bottom: 40px; }
    .contact-us .contact-us__form .contact-form__text input[type="text"]::placeholder {
      font-size: 12px; }
    .contact-us textarea::placeholder {
      font-size: 12px; } }

@media screen and (max-width: 640px) {
  .contact-us {
    padding: 0 20px; }
    .contact-us .contact-us__text {
      padding-top: 25px;
      margin-bottom: 25px; }
      .contact-us .contact-us__text .contact-us__heading {
        font-size: 30px;
        margin-bottom: 20px; }
      .contact-us .contact-us__text .contact-us__paragraph {
        font-size: 13px;
        line-height: 20px; }
  .contact-us__form .contact-form {
    flex-direction: column;
    align-items: center; }
  .contact-us__form .checkbox-text {
    font-size: 12px; }
  .contact-us__form textarea {
    width: 280px;
    display: block;
    margin: 0 auto; }
  .contact-us__form .contact-form__send {
    flex-direction: column; }
  .textarea-button {
    font-size: 12px;
    width: 100px;
    height: 40px;
    margin-top: 15px; } }

@media screen and (max-width: 540px) {
  .contact-us .contact-us__text {
    padding-top: 15px;
    margin-bottom: 20px; }
    .contact-us .contact-us__text .contact-us__heading {
      font-size: 20px;
      margin-bottom: 15px; }
    .contact-us .contact-us__text .contact-us__paragraph {
      font-size: 11px;
      line-height: 20px; }
  .contact-us .contact-us__form .contact-form__text input {
    width: 200px;
    height: 40px; }
  .contact-us .contact-us__form .contact-form__text input[type="text"]::placeholder {
    font-size: 11px; }
  .contact-us .contact-us__form .checkbox-text {
    font-size: 11px; }
  .contact-us .contact-us__form textarea {
    width: 200px;
    display: block;
    margin: 0 auto; }
  .contact-us .contact-us__form textarea::placeholder {
    font-size: 11px; }
  .contact-us .textarea-button {
    width: 100px;
    height: 35px; }
  .contact-us .contact-form__send {
    padding-bottom: 20px; } }

@media screen and (max-width: 1024px) {
  .our-team {
    padding: 40px 20px 0; }
  .our-team__text {
    margin: 0 auto 45px auto; }
  .our-team__text .our-team__heading {
    font-size: 35px; }
  .social-link {
    margin: 0 auto 50px auto; } }

@media screen and (max-width: 960px) {
  .our-team__text .our-team__heading {
    font-size: 30px;
    margin-bottom: 20px; }
  .our-team__text .our-team__paragraph {
    font-size: 13px;
    line-height: 20px; }
  .our-team__slider .slider-block .slider-avatar {
    margin-bottom: 20px; }
  .our-team__slider .slider-text__name {
    font-size: 15px; }
  .our-team__slider .slider-text__info {
    font-size: 13px;
    line-height: 20px; }
  .our-team__slider .slider-block .slider-avatar .slider-avatar__image {
    margin-right: 10px; }
    .our-team__slider .slider-block .slider-avatar .slider-avatar__image:last-child {
      margin-right: 0; } }

@media screen and (max-width: 540px) {
  .our-team__text .our-team__heading {
    font-size: 18px;
    margin-bottom: 15px; }
  .our-team__text .our-team__paragraph {
    font-size: 11px;
    line-height: 20px; }
  .our-team__slider .slider-block .slider-avatar {
    margin-bottom: 15px;
    width: 80%; }
  .our-team__slider .slider-text__name {
    font-size: 12px; }
  .our-team__slider .slider-text__info {
    font-size: 11px;
    line-height: 20px; }
  .our-team__slider .slider-block .slider-avatar .slider-avatar__image {
    margin-right: 10px; }
    .our-team__slider .slider-block .slider-avatar .slider-avatar__image:last-child {
      margin-right: 0; }
  .social-link {
    margin: 0 auto 30px auto; }
    .social-link .link-social {
      font-size: 20px; } }

@media screen and (max-width: 480px) {
  .our-team__slider .slider-block .slider-avatar {
    width: 100%; }
  .our-team__slider .slider-block .slider-avatar .slider-avatar__image_active {
    border: 12px solid rgba(255, 255, 255, 0.11); } }

.footer {
  background: #061e37;
  padding: 96px  80px 0;
  min-height: 300px; }
  .footer-box {
    display: flex;
    justify-content: space-between; }
    .footer-box .navigation__link:hover {
      color: #fff; }
  .footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 55px; }
    .footer-info .info-block {
      display: flex; }
      .footer-info .info-block__link {
        font-size: 15px;
        color: #848a92;
        display: flex;
        align-items: center;
        margin-left: 20px; }
        .footer-info .info-block__link:last-child:after {
          display: none; }
        .footer-info .info-block__link:after {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          background: #fff;
          border-radius: 50%;
          margin-left: 20px; }
    .footer-info .social-block__link {
      font-size: 20px;
      color: #848a92;
      margin-right: 20px; }
      .footer-info .social-block__link:last-child {
        margin-right: 0; }

@media screen and (max-width: 960px) {
  .footer {
    padding: 50px 80px 0;
    min-height: 200px; }
    .footer-info {
      margin-top: 40px; }
      .footer-info .info-block__link {
        font-size: 13px;
        margin-left: 15px; }
        .footer-info .info-block__link:after {
          margin-left: 15px; } }

@media screen and (max-width: 740px) {
  .footer .footer-box .logo .logo-text .logo-text__paragraph {
    font-size: 14px; }
  .footer-info {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px; }
    .footer-info .info-block__link:first-child {
      margin-left: 0; }
    .footer-info .social-block {
      margin-top: 20px; } }

@media screen and (max-width: 540px) {
  .footer {
    padding: 40px 20px 0; }
    .footer .footer-box .logo {
      margin: 0 auto; }
      .footer .footer-box .logo .logo-text .logo-text__paragraph {
        font-size: 13px; }
    .footer-info {
      align-items: center; }
      .footer-info .info-block__link {
        font-size: 12px; }
      .footer-info .social-block__link {
        font-size: 17px; } }

body {
  font-family: 'Raleway', sans-serif; }

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

/*# sourceMappingURL=../css/style.css.map */
