@media screen and (max-width: 1400px) {
  .comments__text {
    width: initial;
  }
  .comments .comments__slider {
    margin-left: 30px;
  }
  .comments .comments__slider .slider-link_top {
    margin-top: 20px;
  }
  .comments .comments__slider .slider-link_bottom {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .comments .comments-block {
    flex-direction: column;
  }
  .comments .comments-block__text {
    margin-left: 0;
  }
  .comments .comments__slider {
    margin-left: 0;
  }

}

@media screen and (max-width: 1024px) {
  .comments {
    flex-direction: column;
  }
  .comments__text {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 60px;
  }
  .comments__link {
    margin: 80px auto 0 auto;
  }
}


@media screen and (max-width: 960px) {
  .comments {
    padding: 0 20px;
  }
  .comments__text {
    margin-bottom: 10px;
  }
  .comments .title-text {
    font-size: 30px;
  }
  .comments .title-paragraph {
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
  }
  .comments__link {
    margin: 25px auto 0 auto;
    width: 120px;
    font-size: 13px;
  }
  .comments .comments__slider .slider-link_top {
    margin-bottom: 20px;
  }
  .comments .comments-block {
    margin-bottom: 20px;
  }

  .comments .comments-block .comments-name {
    font-size: 15px;
  }
  .comments .comments-block .comments-text {
    font-size: 13px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .comments .title-text {
    font-size: 25px;
  }
  .comments__text {
    margin-top: 30px;
  }

}


@media screen and (max-width: 540px) {
  .comments .title-text {
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
  }
  .comments .comments__slider .slider-link_top{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .comments .comments__slider .slider-link_bottom{
    margin-top: 20px;
  }
  .comments .comments-block__text {
    padding: 20px;
  }
  .comments__link {
    width: 100px;
    font-size: 11px;
    margin: 15px auto 0 auto;
  }
  .comments .comments-block .comments-name{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .comments .comments-block .comments-text{
    font-size: 11px;
  }
}


