@media screen and (max-width: 1400px) {
  .comments__text{
    width: initial;
  }
  .comments .comments__slider{
    margin-left: 30px;
  }
  .comments .comments__slider .slider-link_top{
    margin-top: 20px;
  }
  .comments .comments__slider .slider-link_bottom{
    margin-bottom: 20px;
  }

}