@media screen and (max-width: 1260px) {
  .header__login-link {
    margin-top: 3px;
  }
  .content-text {
    margin-right: 30px;
  }
}


@media screen and (max-width: 1024px) {
  .header {
    padding: 40px 80px 100px;

    .login-button {
      display: none;
    }
  }

  .navigation {
    display: none;

    &__link {
      background: #15c9c6;
      border-radius: 5px;
      margin-right: 0;
      padding: 10px;
      color: #fff;
      border-left: 1px solid transparent;
      margin-bottom: 5px;
      &:nth-child(2){
        color: #fff;
      }
      &:hover{
        transition: all linear .3s;
        border-left: 3px solid #061e37;
        color: #061e37;
      }


    }

  }
  .navigation_active {
    max-width: 120px;
    width: 100%;
    display: flex;
    border-radius: 3px;
    position: absolute;
    flex-direction: column;
    right: 80px;
    top: 80px;

  }
  .header-box .navigation-button {
    display: block;
  }
  .header__content {
    margin-top: 80px;
  }
  .header__content .content-text__heading {
    font-size: 45px;
  }
  .header__content .content-text__paragraph {
    line-height: 30px;
    font-size: 15px;
  }
  .header__content .content-text__link {
    margin-top: 20px;
  }

}


@media screen and (max-width: 960px) {
  .header__content .content-text__heading {
    font-size: 35px;
  }
  .header__content .content-text .content-link {
    width: 120px;
    height: 47px;
    font-size: 12px;
  }
  .header__content {
    margin-top: 80px;
  }
}

@media screen and (max-width: 860px) {
  .header__content {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .header__content .content-text {
    margin: 0 auto;
    width: 94%;
  }
  .header__content .content-text__heading {
    font-size: 25px;
  }
  .header__content .content-text__paragraph {
    font-size: 13px;
  }
  .content-video {
    margin: 0 auto;
  }
  .content-video img {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 35px 40px 60px;
  }
  .header__content {
    margin: 40px auto 0 auto;
  }
  .header__content .content-text {
    padding-top: 30px;
  }
  .header__content .content-text .content-link {
    width: 100px;
    height: 40px;
    font-size: 11px;
  }
  .navigation_active{
    right: 40px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 25px 25px 60px;
  }
  .header__content .content-text {
    padding-top: 20px;
  }
  .header__content {
    margin-top: 30px;
  }
  .header__content .content-text__heading {
    font-size: 18px;
  }
  .header-box {
    font-size: 13px;
  }
  .header__content .content-text__paragraph {
    font-size: 11px;
    line-height: 20px;
    margin-top: 10px;
  }
  .navigation_active{
    right: 40px;
  }
  .navigation_active{
    right: 25px;
  }
}