.header {
  background: url("../image/headerImage/BG.png") no-repeat;
  background-size: cover;
  padding: 40px 80px 180px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #fff;


  .navigation-button {
    outline: none;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    display: none;
    position: relative;
    &:hover{
      border: 1px solid #061e37;
    }

    &__content {
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;
      margin: 3px;
    }
  }
}
.navigation-button:hover .navigation-button__content{
  background: #061e37;
}
.logo {
  display: flex;
  color: #fff;
  text-transform: uppercase;

  .logo-text {
    margin-left: 13px;

    &__paragraph_bold {
      font-weight: 600;
    }
  }
}

.navigation {
  &__link {
    color: #fff;
    margin-right: 50px;
    font-weight: 600;

    &:hover {
      color: #061e37;
      transition: linear .6s;
    }
  }

  .navigation__link_active {
    color: #061e37;
  }

  .navigation__link:last-child {
    margin-right: 0;
  }
}

.login-link {
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 18px;
  cursor: pointer;
  color: #fff;

  &:hover {
    color: #061e37;
    border-color: #061e37;
    transition: linear .6s;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  color: #fff;

  .content-text {
    max-width: 500px;

    &__heading {
      font-weight: 900;
      font-size: 55px;
      text-transform: uppercase;
    }

    &__paragraph {
      font-size: 18px;
      line-height: 35px;
    }

    &__link {
      margin-top: 38px;
      display: flex;
    }

    .content-link {
      width: 160px;
      height: 55px;
      background: #fff;
      font-size: 15px;
      color: #061e37;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.46);

      &:hover {
        transform: scale(1.1);
      }
    }

    .content-link:first-child {
      margin-left: 0;
      background: #061e37;
      color: #fff;
    }
  }
}


.content-video {
  max-width: 600px;
  margin-right: -15px;

  & img {
    max-width: 100%;
  }
}

