.page {
  text-align: center;
  background: #ffffff;
  padding: 0 80px;

  .page-content {
    max-width: 675px;
    margin: 100px auto 0 auto;

    .page-content__heading {
      font-size: 45px;
      font-weight: 700;
    }

    .page-content__title {
      font-size: 25px;
      font-weight: 700;
      color: #b0bec5;
      margin-top: 16px;
    }

    .page-content__paragraph {
      font-size: 15px;
      font-weight: 500;
      color: #b0bec5;
      margin-top: 25px;
    }
  }

  .title-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 104px;
    margin-bottom: 80px;

    .title-box {
      max-width: 25%;
      text-align: center;

      &__image_size {
        width: 60px;
        height: 71px;
      }

      &__heading {
        margin-top: 46px;
        font-size: 20px;
        font-weight: 700;
      }

      &__paragraph {
        font-size: 15px;
        color: #8399a4;
        line-height: 20px;
        margin-top: 20px;
      }
    }
  }

  .page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    width: 150px;
    height: 55px;
    text-transform: uppercase;
    background: #1de9b6;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.counts-block {
  display: flex;
  margin-top: 100px;
  width: 100%;

  .counts-box_color1 {
    background: #80d8ff;
  }

  .counts-box_color2 {
    background: #82b1ff;
  }

  .counts-box_color3 {
    background: #b388ff;
  }

  .counts-box_color4 {
    background: #ea80fc;
  }

  .counts-box {
    width: 25%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-box {
      display: flex;
      justify-content: center;
      align-content: center;

      &__image {
        background: #ffffff;
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 50%;

        .content-image {
          width: 30px;
          height: 30px;
          position: absolute;
          top: calc(50% - 15px);
          left: calc(50% - 15px);
        }
      }

      &__text {
        margin-left: 25px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 900;
      }
    }
  }

}

.services {

  &__title {
    max-width: 620px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;

    .services__heading {
      font-size: 45px;
      font-weight: 700;
    }

    .services__paragraph {
      margin-top: 30px;
      font-size: 15px;
      color: #b0bec5;
      line-height: 25px;
    }
  }

  .accordion {
    max-width: 800px;
    width: 100%;
    margin: 50px auto 100px auto;

    .accordion-box {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 0 25px;
      border-radius: 5px;
      margin-bottom: 25px;

      .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        cursor: pointer;

        &__logo {
          display: flex;

          .logo-text {
            margin-left: 10px;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }

      .accordion-content_active {
        display: flex;
      }

      .accordion-content {
        display: none;
        padding-bottom: 25px;

        .accordion-content__image {
          max-width: 250px;

          .content-image {
            width: 100%;
          }
        }

        &__text {
          max-width: 470px;

          .content-paragraph {
            width: 100%;
            margin-left: 30px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }

      .accordion-content_active {
        display: flex;
      }
    }
  }
}

.comments {
  min-height: 564px;
  background: url("../image/mainImage/comments-block/commentsBackground.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;

  &__text {
    max-width: 550px;
    width: 100%;
    color: #fff;
  }

  .title-text {
    font-size: 45px;
    font-weight: 700;
  }

  .title-paragraph {
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
  }

  &__link {
    width: 150px;
    min-height: 55px;
    background: #061e37;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 80px;
    }
  &__link:hover{
    transform: scale(1.1);
  }

  .comments__slider {
    max-width: 800px;

    .slider-link_top {
     display: flex;
      justify-content: center;
      margin-bottom: 33px;
    }
    .slider-link_bottom{
      display: flex;
      justify-content: center;
      margin-top: 33px;
    }
  }

  .comments-block {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &__text {
      max-width: 650px;
      background: #fff;
      border-radius: 5px;
      margin-left: 50px;
      padding: 30px;
      box-shadow: 0 7px 16px 0 rgba(0,0,0,0.2);

    }
    &_margin{
      margin-bottom: 0;
    }

    .comments-name {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .comments-text {
      font-size: 15px;
      color: #78909c;
      font-style: italic;
      line-height: 25px;
    }
  }

}
