.services {

  &__title {
    max-width: 620px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;

    .services__heading {
      font-size: 45px;
      font-weight: 700;
    }

    .services__paragraph {
      margin-top: 30px;
      font-size: 15px;
      color: #b0bec5;
      line-height: 25px;
    }
  }

  .accordion {
    max-width: 800px;
    width: 100%;
    margin: 50px auto 100px auto;

    .accordion-box {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

      border-radius: 5px;
      margin-bottom: 25px;

      .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        cursor: pointer;
        padding: 0 25px;

        &_active {
          background: rgba(29, 233, 182, 0.7);
          border-radius: 5px 5px 0 0;
        }

        &__logo {
          display: flex;

          .logo-text {
            margin-left: 10px;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        &__icon {
          transition: linear 0.2s;

          &_active {
            transform: rotate(180deg);
            transition: linear 0.2s;
          }
        }
      }

      .accordion-content {
        display: none;
        padding: 25px;

        &_active {
          display: flex;
        }

        &__text {
          max-width: 470px;

          .content-paragraph {
            margin-left: 30px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
          }
        }

        .accordion-content__image {
          max-width: 250px;

          .content-image {
            width: 100%;
          }
        }
      }
    }
  }
}
